@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Poppins:wght@500&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    background: #fff;
}
a{
    text-decoration: none;
}
p{
    font-size: 16px;
}
li{
    list-style: none;
    font-weight: 600;
    font-size: 16px;
}
.logo h4{
    font-weight: bold;
    font-size: 24px;
}
.container{
    margin: 0 200px;
}
.header{
    padding-top: 50px;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    grid-gap: 30px;
}
.toptext{
    padding: 100px 150px 0 0;
}
.toptext h1{
    font-weight: bold;
    font-size: 52px;
    line-height: 70px;
}
.toptext p{
    font-weight: 600;
    margin-bottom: 30px;
}
.button{
    padding: 10px 24px;
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
}
.alllogos{
    display: flex;
    justify-content: space-around;
    margin: 55px 0 50px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 50px 25px;
}
.collection h3{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    line-height: 70px;
}
.single-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    align-items: center;
    justify-content: center;
}
.itemblog{
    width: 300px;
    height: 450px;
    padding: 20px;
    background-color: #fff;
}
.itemblog img{
    width: 300px;
    height: 256px;
}
.itemblog h4{
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
}
.itemblog h5{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
}
.rating{
    display: flex;
    grid-gap: 5px;
    margin: 0;
}
.rating .full{
    width: 16px;
    height: 16px;
    color: #FB8200;
}
.rating p{
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.1px;
    margin: 0;
}
.itemblog p{
    font-weight: bold;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 1.8%;
}
.join-now{
    display: flex;
    grid-gap: 150px;
    padding: 100px 0;
}
.join-now .button{
    border-radius: 0;
}
footer{
    background-color: #0a0826;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    padding: 50px 0;
    text-align: center;
}